@import './Utils';
@import './layouts/Header';
@import './layouts/Footer';
@import './pages/Home';
@import './pages/Project';
@import './pages/About';
@import './components/ContactButton';
@import './components/LinkButton';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  object-fit: cover;
  font-family: 'Inter', sans-serif;
  color: $text-color;
}

body {
  background-color: $deep-blue-color;
}

main {
  display: grid;
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

section {
  grid-column: 3 span;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: $radius;
}
