@import '../components/StackList';
@import '../components/ExperienceList';

.about-me-section,
.stack-section,
.experience-section {
  h2 {
    text-align: center;
  }
}

.about-me-section {
  background-color: $gray-blue-color;
  .p-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.stack-section {
  background-color: $white-smoke-color;
  align-items: center;
  h2 {
    color: $deep-blue-color;
  }
}

.experience-section {
  border: 1px solid $gray-blue-color;
}
