@import '../components/ProjectsList';

.social-contact-wrapper,
.title-about-wrapper,
.projects-card-wrapper {
  border: 1px solid $fill-third-color;
  border-radius: $radius;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.title-about-wrapper {
  gap: 40px;
  grid-column: 2 span;
}

.title-container {
  display: flex;
  gap: 20px;
  align-items: center;
  img {
    width: 195px;
    aspect-ratio: 1/1;
  }
  h1 {
    @include h1-style;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
    @include h2-style;
  }
  p {
    @include p-style;
  }
}

.social-contact-wrapper {
  gap: 60px;
}

.social-container,
.contact-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
    @include h2-style;
    text-align: center;
  }
}

.projects-card-wrapper {
  grid-column: 3 span;
  .projects-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 50%;
    margin-inline: auto;
    h2 {
      @include h2-style;
    }
  }
}
