.presentation-project-container,
.stack-project-container,
.description-project-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.title-project-container {
  display: flex;
  grid-column: 3 span;
  position: relative;
  align-items: center;
  .overlay-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  }
  img {
    display: block;
    width: 100%;
    aspect-ratio: 12/3;
  }
  h3 {
    @include h2-style($text-transform: uppercase);
    z-index: 1;
    position: absolute;
    margin-left: 10%;
    pointer-events: none;
  }
}

.presentation-project-container {
  grid-column: 2 span;
  background-color: $fill-fourth-color;
  gap: 20px;
  h4 {
    color: $background-body;
    @include h3-style;
    text-align: center;
  }
  p {
    color: $background-body;
  }
}

.stack-project-container {
  grid-column: 1 span;
  border: 1px solid $fill-third-color;
  border-radius: $radius;
  h4 {
    @include h3-style;
    text-align: center;
  }
  div {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      li {
        list-style: square;
      }
    }
  }
}

.description-project-container {
  grid-column: 3 span;
  background-color: $fill-third-color;
  gap: 20px;
  h4 {
    @include h3-style;
    text-align: center;
  }
}
