.link-button {
  background-color: $flash-blue-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 25px;
  border: 1px solid $white-smoke-color;
  border-radius: $radius;
  .fa-right-to-bracket {
    cursor: pointer;
    font-size: 24px;
  }
}

.link {
  background-color: $flash-orange-color;
  display: flex;
  justify-content: space-between;
  padding: 16px 25px;
  align-items: center;
  border-radius: $radius;
  border: 1px solid $white-smoke-color;
  .fa-right-to-bracket {
    cursor: pointer;
    font-size: 24px;
  }
}
