.link-button {
  background-color: $fill-third-color;
  color: $text-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 25px;
  border: 1px solid $fill-fourth-color;
  border-radius: $radius;
  @include p-large-style;
  .fa-right-to-bracket {
    cursor: pointer;
    font-size: 24px;
  }
}
